
  <h1>Listed Products</h1>

  {{#each collections}}
  <div class="collections">
    <a href="/products">Product Name: {{name}} </a>
    <p>Price: {{body}} </p>

    <p>Inventory: {{inventory}} </p>

  </div>

  {{/each}}

